<div class="nca">
            <div class="nca_header">
                <h2 class="nca_header-title">Lastest news</h2>
            </div>
            <div class="nca_body">
                <div class="nca_news">
                    <div class="nca_news-content nca_news-content--breakingnews ">
                        
                    {{> home/ncastylelist }}
                        
                    </div>


                    <div class="nca_news-content nca_news-content--mostpopularnews">
                        <h3 class="nca_news-title nca_news-title--secondary">most popular sports news</h3>
                        <ol class="nca_order-list js-nca-order-list">
                           
                        </ol>
                    </div>


                </div>

            </div>
        </div>