<div class="nca">
            <div class="nca_header">
                <h2 class="nca_header-title">Lastest news</h2>
            </div>
            <div class="nca_body">
                <div class="nca_news">
                    <div class="nca_news-content nca_news-content--breakingnews ">
                        
                    {{> home/ncastylelist }}
                        
                    </div>


                    <div class="nca_news-content nca_news-content--mostpopularnews">
                        <h3 class="nca_news-title nca_news-title--secondary">most popular sports news</h3>

                        <ol class="nca_order-list">
                            <li class="nca_order-list-item">
                                <a href="#" class="nca_order-list-item-link">McCullum didn’t respect Cricket decision</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Collingwood pair Josh Thomas</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">WrestleMania 31 live: WWE highlights</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Brad Haddin: New Zealand deserved it</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Player ratings for Australia’s victory</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Ferguson rulexd out for four months</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Magpies ‘shellshocked’ by positive test</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Why Georgievski chose Macedonia</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">When will the carnage end at the Reds?</a></li>
                            <li class="nca_order-list-item"><a href="#" class="nca_order-list-item-link">Nadal loses his mind over water bottle</a></li>
                        </ol>
                        
                    </div>


                </div>

            </div>
        </div>