<h3 class="nca_news-title nca_news-title--primary ">breaking news<span class="nca_news-title-arrow"></span></h3>

                        <ul class="nca_style-list">
                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:55pm</span>
                                <a href="#" class="nca_style-list-item-copy">US teen held in shooting of five people</a>
                            </li>

                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:52pm</span>
                                <a href="#" class="nca_style-list-item-copy">Suicide bombing, gunfire rock Kabul</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:45pm</span>
                                <a href="#" class="nca_style-list-item-copy">Govt ordered to release Hobbit documents</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:42pm</span>
                                <a href="#" class="nca_style-list-item-copy">Malaysian killed in Algeria crisis</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:35pm</span>
                                <a href="#" class="nca_style-list-item-copy">Prison escapee caught after 16 years</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:25pm</span>
                                <a href="#" class="nca_style-list-item-copy">Human Rights Watch warns on Mali</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:24pm</span>
                                <a href="#" class="nca_style-list-item-copy">Climb turns on pain for riders</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:20pm</span>
                                <a href="#" class="nca_style-list-item-copy">Son refused bail over mother's death</a>
                            </li>


                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:15pm</span>
                                <a href="#" class="nca_style-list-item-copy">MPs meet on Gold Coast V8 future</a>
                            </li>

                            <li class="nca_style-list-item">
                                <span class="nca_style-list-item-time">1:15pm</span>
                                <a href="#" class="nca_style-list-item-copy">MPs meet on Gold Coast V8 future</a>
                            </li>
                        </ul>